[Unit]
Description=Aptly REST API
After=network.target

[Service]
Type=simple
User=aptly
WorkingDirectory=/var/lib/aptly
ExecStart=/usr/bin/aptly api serve -listen=:5000 -no-lock
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
